In [3]:

from pymongo import MongoClient
mongo = MongoClient(port = 27017)

In [4]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [5]:
my_first_db = mongo['my_db']

In [6]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [8]:
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()

[]

In [9]:
my_first_collection.insert_one({'name': 'Mickey'})

In [10]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [11]:
my_first_collection.insert_one({'name': 'Minnie', 'age': 90})

In [12]:
results = my_first_collection.find()

In [13]:
for result in results:
    print(result)

{'_id': ObjectId('636af194c92d6259a699ae31'), 'name': 'Mickey'}
{'_id': ObjectId('636af1c0c92d6259a699ae32'), 'name': 'Minnie', 'age': 90}

In [14]:
goofy = {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

In [15]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('636af194c92d6259a699ae31'), 'name': 'Mickey'}
{'_id': ObjectId('636af1c0c92d6259a699ae32'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [16]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

In [17]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('636af194c92d6259a699ae31'), 'name': 'Mickey'}
{'_id': ObjectId('636af1c0c92d6259a699ae32'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('636af270c92d6259a699ae33'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('636af270c92d6259a699ae34'), 'name': 'Daisy', 'species': 'duck'}

In [19]:
query = {'name': 'Donald'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('636af270c92d6259a699ae33'), 'name': 'Donald', 'species': 'duck'}

In [20]:
query = {'species': 'duck'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('636af270c92d6259a699ae33'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('636af270c92d6259a699ae34'), 'name': 'Daisy', 'species': 'duck'}

In [22]:
query = {'age': {'$gt': 85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('636af1c0c92d6259a699ae32'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [23]:
query = {'age': {'$lt': 88}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [26]:
query = {'name': {'$gt': 'E'}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('636af194c92d6259a699ae31'), 'name': 'Mickey'},
 {'_id': ObjectId('636af1c0c92d6259a699ae32'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [27]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[result for result in my_first_collection.find()]

[{'_id': ObjectId('636af194c92d6259a699ae31'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('636af1c0c92d6259a699ae32'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636af270c92d6259a699ae33'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636af270c92d6259a699ae34'),
  'name': 'Daisy',
  'species': 'duck'}]

In [28]:
query = {'name': 'Minnie'}
update = {'$set': {'name': 'Minnie Mouse'}}
my_first_collection.update_one(query, update)
[result for result in my_first_collection.find()]

[{'_id': ObjectId('636af194c92d6259a699ae31'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('636af1c0c92d6259a699ae32'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636af270c92d6259a699ae33'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636af270c92d6259a699ae34'),
  'name': 'Daisy',
  'species': 'duck'}]

In [29]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[result for result in my_first_collection.find()]

[{'_id': ObjectId('636af1c0c92d6259a699ae32'),
  'name': 'Minnie Mouse',
  'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636af270c92d6259a699ae33'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636af270c92d6259a699ae34'),
  'name': 'Daisy',
  'species': 'duck'}]

In [30]:
query = {'age': {'$gt':88}}
my_first_collection.delete_one(query)
[result for result in my_first_collection.find()]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636af270c92d6259a699ae33'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636af270c92d6259a699ae34'),
  'name': 'Daisy',
  'species': 'duck'}]

In [31]:
query = {'_id': 3}
my_first_collection.delete_one(query)
[result for result in my_first_collection.find()]

[{'_id': ObjectId('636af270c92d6259a699ae33'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636af270c92d6259a699ae34'),
  'name': 'Daisy',
  'species': 'duck'}]

In [32]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[result for result in my_first_collection.find()]

[]

In [33]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [35]:
my_first_db.list_collection_names()

[]

In [36]:
mongo.drop_database('my_db')

In [37]:
mongo.list_database_names()

['admin', 'config', 'local']